.copyBtn {
  visibility: hidden;
}

.Color {
  position: relative;
}
.Color:hover .copyBtn {
  visibility: visible;
}

.ColorName,
.More {
  padding: 5px;
  font-size: 80%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  opacity: 0.8;
  align-self: flex-end;
  overflow: hidden;
}

.true {
  transform: scale(10);
  transition: all 0.2s linear;
  z-index: 10;
}

.ColorName {
  justify-self: start;
}
.More {
  justify-self: flex-end;
}

.true:hover .copyBtn,
.true:hover .More,
.true:hover .ColorName {
  display: none;
}

.Copied {
  height: 100%;
  width: 100%;
  z-index: -1;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Copied h1 {
  font-size: 2.5px;
}

@media screen and (max-width: 992px) {
  .Copied h1 {
    font-size: 1.5px;
  }
}
.chromaTrue {
  color: white;
}
