.navBar {
  height: 10%;
  background-color: #f4f4f4;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.slider {
  width: 100%;
  align-self: center;
  padding: 0 1.5rem;
}

.convert {
  align-self: center;
  justify-self: flex-end;
  padding: 1rem;
}

.Palette-row {
  height: 86%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  height: 4%;
}
.footer h5 {
  font-size: 1rem;
}

.Palette-row {
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 0;
}

@media screen and (max-width: 992px) {
  .Palette-row {
    grid-template-columns: repeat(4, 1fr);
  }
  .navBar {
    height: 12%;
  }
}
@media screen and (max-width: 768px) {
  .Palette-row {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 576px) {
  .Palette-row {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, minmax(1fr, 1fr));
  }
  .navBar {
    height: 20%;
    grid-template-columns: 1fr 1fr;
  }
  .slider {
    order: 10;
    grid-column: 1/3;
  }
}
@media screen and (max-width: 480px) {
  .Palette-row {
    grid-template-columns: repeat(1, 1fr);
  }
  .navBar {
    height: 25%;
  }
  .convert {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
