.slider {
  width: 30%;
  display: flex;
  align-items: flex-end;
}
.navBar {
  height: 10%;
  background-color: #f4f4f4;
  display: grid;
  justify-content: space-between;
  padding: 1rem;
}

.title {
  display: flex;
  align-items: flex-end;
  font-size: 1.8rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.convert {
  align-self: center;
  width: 12rem;
}

.Palette-row {
  height: 86%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  width: 100%;
  padding: 0.5rem;
}
.footer h5 {
  font-size: 1rem;
}

.Palette-row {
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 0;
}

@media screen and (max-width: 992px) {
  .Palette-row {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .Palette-row {
    grid-template-columns: repeat(3, 1fr);
  }

  .slider {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .Palette-row {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, minmax(1fr, 1fr));
  }
}
@media screen and (max-width: 480px) {
  .Palette-row {
    grid-template-columns: repeat(1, 1fr);
  }
  .navBar {
    height: 15%;
  }
  .convert {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
