.paletteBrief {
  display: flex;
  justify-content: space-between;
  height: 2rem;
  align-items: center;
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.card {
  margin: 0.5rem;
}
